<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>First Flask</title>
  <style>
    h1{
      font-size: 50px;
      font-family: Roboto;
      font-weight: normal;
      color: rgb(150, 150, 150);
      text-align: center;
    }
    #banner {
      width: 100%;
      height: 200px;
    }
    h2 {
      font-family: Roboto;
      color: rgb(100, 100, 100);
      text-align: center;
    }
    p {
      font-family: Roboto;
      color: rdb(80, 80, 80);
    }
    #container {
      max-width: 1080px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div id="container">
  <h1>First Flask</h1>
  <img id="banner" src="https://first-flask.shah-rukhrukh4.repl.co/static/banner.jpeg" >
  <h2>About Flask</h2>
  <p>Flask is a web framework for Python, designed to be lightweight and easy to use. It is a micro framework that doesn't include an ORM (Object Relational Manager) or such features, but allows developers to build a web application quickly using modular and scalable structure. Flask encourages the use</p>

  <h2>Apply For Learn Flask</h2>
  <p>todo baadme kaam karunga ispe </p>
  <div style="text-align:center;">
  <button>Contect Us</button>
    <h3>Copyright 2023 Flask</h3>
  </div>
   </div>
</body>
</html>